@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'burtons';
	src: url('../public/Burtons.otf');
}
@font-face {
  font-family: 'architect';
  src: url('../public/ArchitectsDaughter.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('https://fonts.google.com/specimen/Poppins');
}



/* 00897b */
/* 04b0ee */      